<html>
    <head>
        <title>My Website!</title>
		
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='index16.js') }}"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
   </head>
    <body>
		<div class="titulo">
		 
		</div>
		
		<h1>FLACK LOGIN</h1>



		<form>
			<div class="form-group">
				<label for="exampleFormControlInput1">Enter a user name: </label>
				<input type="text" class="form-control" id="user_name"   placeholder="e.g. Jordan">
			</div>
			<button type="submit" class="btn btn-primary" id ="register_user" >Send</button>
		</form>
		
		
		</div>
		
		
		
		
    </body>
</html>
